In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
sample_data = pd.read_csv('data/sample_data_regressor_10000_null.csv')
sample_data

,Age,Experience,Education Level,Hours Per Week,City Index,Salary
0,58.0,24.0,4.0,22.0,73.0,104479.358177
1,48.0,29.0,3.0,20.0,71.0,115169.741663
2,34.0,17.0,3.0,NaN,82.0,85884.271046
3,27.0,10.0,1.0,56.0,2.0,109505.276912
4,40.0,28.0,2.0,26.0,10.0,97225.200012
...,...,...,...,...,...,...
9995,22.0,20.0,2.0,38.0,69.0,93035.513631
9996,35.0,29.0,4.0,24.0,39.0,111073.814192
9997,23.0,29.0,1.0,54.0,32.0,97807.239640
9998,42.0,31.0,1.0,44.0,49.0,91653.521315
9999,39.0,22.0,3.0,57.0,31.0,96359.995137

In [7]:
sample_data.isna().sum()

Age                250
Experience         250
Education Level    250
Hours Per Week     250
City Index           0
Salary               0
dtype: int64

In [8]:
sample_data.dtypes

Age                float64
Experience         float64
Education Level    float64
Hours Per Week     float64
City Index         float64
Salary             float64
dtype: object

In [10]:
# Drop the roes with no labels

sample_data.dropna(subset=['Salary'], inplace=True)
sample_data.isna().sum()

Age                250
Experience         250
Education Level    250
Hours Per Week     250
City Index           0
Salary               0
dtype: int64

In [12]:
# Split into X & y 
from sklearn.model_selection import train_test_split

X = sample_data.drop('Salary', axis=1)
y = sample_data['Salary']

np.random.seed(42)
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose impoer ColumnTransformer

# Fill categorical values with 'missing' & numerical values with mean
num_imputer = SimpleImputer(strategy='mean')